

$path_static: 'http://static.local:8282'!default;
$path_fonts: $path_static+'/fonts'!default;

//$color-primary: #09f;

$color-text: #333!default;

$color-primary: #00bcff!default;
$color-primary-light: #0092d4!default;


$color-dark: #333!default;

$color-light:#ccc!default;

$color-light-10: rgba(255,255,255,0.1);
$color-light-20: rgba(255,255,255,0.2);
$color-light-30: rgba(255,255,255,0.3);
$color-light-40: rgba(255,255,255,0.4);
$color-light-50: rgba(255,255,255,0.5);
$color-light-60: rgba(255,255,255,0.6);
$color-light-70: rgba(255,255,255,0.7);
$color-light-80: rgba(255,255,255,0.8);
$color-light-90: rgba(255,255,255,0.9);
$color-white: rgba(255,255,255,1);

$color-dark-3: rgba(0,0,0,0.025);
$color-dark-5: rgba(0,0,0,0.05);
$color-dark-10: rgba(0,0,0,0.1);
$color-dark-20: rgba(0,0,0,0.2);
$color-dark-30: rgba(0,0,0,0.3);
$color-dark-40: rgba(0,0,0,0.4);
$color-dark-50: rgba(0,0,0,0.5);
$color-dark-60: rgba(0,0,0,0.6);
$color-dark-70: rgba(0,0,0,0.7);
$color-dark-80: rgba(0,0,0,0.8);
$color-dark-90: rgba(0,0,0,0.9);
$color-black: rgba(0,0,0,1);

$pad-v: 0.5rem;
$pad-h: 0.75rem;