@import "~@assets/css/_base";

@import '~bootstrap';
/*__ place custom variables here */
@import "~@assets/css/_variables";

@import '~bootstrap-vue';


body {
  background-color: #f3ede7;
  color: $color-text;
}

/*
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  margin: 0;
  font-size: 1em;
  color: #333;
}

.bgd3 {
  background-color: rgba(0, 0, 0, 0.05);
}

.bgd-dark {
  background-color: $color-dark;
  color: $color-light;
}

*/
